body{
  width: 100%;
}
.root{
  width: 100%;
}
.app{
  width: 100%;
}

@font-face {
  font-family: HelveticaNeue;
  src: url(HelveticaNeue.woff);
}
.Neue{
  font-family: HelveticaNeue;
}
.NeueB{
  font-family: 'HelveticaNeueBold';
}
.NeueM{
  font-family: 'HelveticaNeueMedium.ttf'
}
.AvRoman{
  font-family: 'AvenirLTStd-Roman 2'
}
.NeutralB{
  font-family: 'NeutraTextTF-Bold'
}
.NeutralBook{
  font-family: 'NeutraTextTF-BookSC';
}
.NeutralBookRegular{
  font-family: 'NeutraTextTF-Book-regular';
}

.white_txt{
  color: white;
}

.Rectangle-12 {
  width: 100%;
  height: 5em;
  opacity: 0.76;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-item {
  font-size: 15px;
  color: #444444;
  margin: 0 30px 0 0; 
  font-weight: bolder;
  
}
.button-blick{
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  background-color: #e66700;
  color: white;
  border-radius: 50px;
}
.edificios{
  background-image: url(https://s3.amazonaws.com/assets.mockflow.com/app/styleguide/company/Ccc483f21e64e41199f504e4d14b4dec5/projects/c9dc567be10837d180a872c0b845a66e/sections/52aa112f5865b7f9ca65dee3de67f7f4/images/d44d7a097f2b2ff33a504d3a9a5e86d3/IMG_20170220_121229490.jpg);
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 28em;
}
.content{
  width: 100%;
  height: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.titulo_content{
  margin: 0;
  color: white;
  font-size: 4em;
}
.titulo_subtitle{
  margin: 0;
  color: white;
  font-size: 2.6em;
}

.como{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15em;
}
.como_text{
  color: #484848;
  font-size: 1.8em;
}

.table{
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_footer{
  text-align: center
}
.orange{
  color: #e66700;
}
.grey{
  color: #4a4a4a;  
}
.table_col{
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.border_t{
  border-bottom: solid 0.5px #e5e5e5;  
}
.table_col-title{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.table_img{
  width: 8em;
}
.nomt{
  margin-top: 0;
}
.mmt{
  margin-top: 3px;
}
.table_vs{
  background-color: #f7971c;
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
  margin: 0 6em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.txtContent{
  width: 100%;
  height: 6em;
  text-align: center;
}
.grey-table-text{
  color: #AAA;
  font-weight: 600; 
  font-size: 1.2em;
}
.orange-table-text{
  color: #e66700;
  font-weight: 600; 
  font-size: 1.2em;
}
.tableTitle{
  font-size: 1.3em;
  font-weight: 600;
}
.content{
  display: flex;
  justify-content: center;
}
.buttons{
  height: 25em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 80%;
}
.btn-group{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}
.btn{
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  color: white;
  border-radius: 50px;
  margin: 0 1em;
}
.btn-orange{
  background-color: #e66700;
}
.btn-yell{
  background-color: #f7971c;
}

.preFooter{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.preFooter img{
  height: 8em;
}
.preFooter li{
  list-style: none;
  padding: 5px 0;
}
.bor{
  padding-right: 20em;
}
.content_item{
  margin: 0 1em;
}
.info, .contact{
  color: #9b9b9b;
}
.sm-icon{
  height: 20px !important;
  width: 14px;
}